@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0A0C0E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    z-index: 2;
    position: fixed;
    width: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
header, .hero{
    position: relative;
}
header a img{
    width: 250px;
}
header nav ul{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'calibri', sans-serif;
}
header nav ul li a:hover{
    color: #334a61;
    transition: 0.7s ease-out;
}
.hero{
    display: flex;
    
}
.hero1{
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 3%;
    margin-left: 10%;
}
.hero .texthero{
    margin: auto 0;
}
.texthero h1{
    font-size: 40px;
    font-family: 'roboto', sans-serif;
}
.hero img{
    width: 700px
}
.hero a{
    text-decoration: none;
    background-color: rgb(19, 72, 143);
    color: #fff;
    padding: 10px;
    display: flex;
    width: 70px;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px solid rgb(19, 72, 143);
}
.hero a:hover{
    color: rgb(19, 72, 143);
    background-color: white;
    border: 1px solid rgb(19, 72, 143);
    transition: 0.7s;
}
.article1, .article2, .article3{
    background-color: transparent;
    width: 350px;
    height: 400px;
    cursor: pointer;
}
.article1:hover, .article2:hover, .article3:hover{
    background-color: #1b2025;
    width: 400px;
    height: 450px;
    transition: 0.8s;
}
.article{
    display: flex;
    flex-direction: column;
}
.article h1{
    margin: 40px ;
    margin-left: 6%;
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.articles{
    display: flex;
    justify-content: space-evenly;
    margin: 0 9%;
    margin-bottom: 40px;

}
.article1 img, .article2 img, .article3 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.article1 h1, .article2 h1, .article3 h1{
    font-size: 29px;
    text-align: left;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article p{
    color: #9c9a9a;
    margin-bottom: 20px;
}
.articles a{
    text-decoration: none;
    color: white;
}
.mission{
    margin: 6%;
    color: rgb(255, 255, 255);
    font-weight: normal;
    display: flex;
    gap: 40px;
    display: block;
    cursor: pointer;
}
.mission h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;

}
.mission h2{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.mission i{
    font-size: 50px;
    display: flex;
    margin: 0 auto;
}
.cats{
    display: flex;
    justify-content: space-around;
}
.cat1, .cat2, .cat3, .cat4{
    background-color: #15191e;
    padding: 20px;
    margin: 50px;
    width: 200px;
    border-radius: 20px;

}
.cat1:hover, .cat2:hover, .cat3:hover, .cat4:hover{
    color: aqua;
    transition: 0.8s;
}
.cats h2{
    margin-top: 10px;
    margin-left: 19px;
    text-align: center;
}

footer{
    border-radius: 12px 12px 0 0;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6%;
}
footer .apropos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;

}
.apropos i{
    font-size: 70px;
}
.card{
    display: flex;
    margin: 25px;
    gap: 40px;
}
.card p{
    width: 400px;
}
.card2{
    margin-left: 6%;
}
.card2 h1{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.card2 input{
    padding: 12px 100px;
    background-color: transparent;
    border: 1px solid #1b2025;
}
.card2 button{
    display: block;
    margin-top: 20px;
    padding: 7px;
    color: white;
    background-color: #1b2025;
    border: 1px solid #0A0C0E;
}
.card2 button:hover{
    color: #1b2025;
    background-color: white;
    transition: 0.8s;
}
.card3{
    display: flex;
    background-color: #1b2025;
    padding: 30px;
    color: #9c9a9a;
    justify-content: space-around;
}
.card3 i{
    cursor: pointer;
}
.card3 i:hover{
    color: #fff;
    transition: 0.8s;
}
header .head i{
    color: white;
    margin: auto 0;
    font-size: 35px;
    margin-left: 100%;
    }
@media screen and (max-width: 500px) {
    body{
        overflow: x;
    }
    header nav ul{
        display: none;
    }
    .hero h1, .texthero a{
        font-size: 15px;
    }
    .hero p{
        font-size: 9px;
    }
    .hero img{
        width: 200px;
    }
    .articles, .cats{
        display: block;
    }
    .card {
        display: block;

    }
    .article{
        margin-right: 50px;
    }
    .card p{
        width: 250px;
    }
    .card2{
        width: 100px;
    }
    .card2 input{
        width: 100px;
    }
    footer{
        display: block;
    }
}


